<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json"/>
    <add key="github-approvalmax" value="https://nuget.pkg.github.com/ApprovalMax/index.json"/>
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="*"/>
    </packageSource>
    <packageSource key="github-approvalmax">
      <package pattern="ApprovalMax.*"/>
    </packageSource>
  </packageSourceMapping>
</configuration> 
